<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/categories">
      <label>Category Name*</label>
      <input
        placeholder="Category name here..."
        id="categoryName"
        name="categoryName"
        type="text"
        required
      />

      <button id="form-button" type="submit">Submit</button>
    </form>

    <a href="/">Return to inventory</a>
  </body>
</html>
