<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" action="/new">
      <label>User Name *</label>
      <input
        placeholder="Your user name here..."
        id="username"
        name="username"
        type="text"
        required
      />

      <button id="form-button" type="submit">Submit</button>
    </form>
  </body>
</html>
