<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h2>Usernames:</h2>
    <ul>
      <% usernames.forEach(function(username) { %>
      <li><%= username.username %></li>
      <% }); %>
    </ul>
    <a href="/new">Add New User</a>
  </body>
</html>
