<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h2>Inventory:</h2>
    <ul>
      <% itemnames.forEach(function(item) { %>
      <li><%= item.name %></li>
      <% }); %>
    </ul>
    <a href="/items">View Items</a>
    <a href="/categories">View Categories</a>
  </body>
</html>
