<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items</title>
  </head>
  <body>
    <p>Placeholder for items page</p>

    <a href="/items/new">Add New Item</a>
    <a href="/">Return To Main Page</a>
  </body>
</html>
